@using EcreoFootballApi

<table>
    <tr>
        <th width="35">Spil nummer</th>
        <th width="200">Blåt hold</th>
        <th width="35">Resultat</th>
        <th width="200">Rød hold</th>
        <th width="35">Resultat</th>
    </tr>
    <tr style="@GetTeamColor()">
        <td>@Game.Order</td>
        <td>@GetPlayerNames(Game.BlueTeam.Players)</td>
        <td>@Game.BlueTeamScore</td>
        <td>@GetPlayerNames(Game.RedTeam.Players)</td>
        <td>@Game.RedTeamScore</td>
    </tr>
</table>

@code {
    [Parameter]
    public Game Game { get; set; }

    private string GetTeamColor()
    {
        var backgroundColor = Game.BlueTeamScore > Game.RedTeamScore ? "lightblue" : "lightcoral";
        return $"background-color: {backgroundColor}";
    }

    private string GetPlayerNames(IEnumerable<Player> players)
    {
        return string.Join(", ", players.Select(x => x.Name));
    }
}